<%- include('partialss/header') %>
    <main class="container">
        <h1 class="about-title">About</h1>
        <%- include('partialss/aboutComp') %>
    </main>
    <%- include('partialss/footer') %>