<%- include('partialss/header') %>

    <!--site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav">
                <div class="filter">
                    <a href="/dashboard">
                        <i class="fas fa-angle-double-left"></i> Contacts </a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="tetx-dark"> Create New contact</h2>
                <span>Create new contact using the Form</span>
            </div>
            <!--the form-->
            <%- include('partialss/_form') %>
        </div>
    </main>

    <%- include('partialss/footer') %>