<%- include('partialss/header') %>

    <main>
        <div>
            <a href="">
                <i>Contacts</i>
            </a>
        </div>
        <div>
            <h2>New contact</h2>
            <span>Create new contact</span>
        </div>
        <%- include('partialss/_form') %>
    </main>
    <%- include('partialss/footer') %>