<%- include ('./partialss/header') %>

    <main class="container">
        <h1 class="contact-title">Contact</h1>
        <%- include ('./partialss/contactComp') %>
    </main>

    <%- include('./partialss/footer %>