<%- include ('./partialss/header') %>

    <main class="container">
        <h1 class="projects-title">Projects</h1>
        <%- include ('./partialss/projectComp') %>
    </main>

    <%- include('./partialss/footer %>