<%- include ('./partialss/header') %>

    <main class="container">
        <h1 class="services-title">Projects</h1>
        <%- include ('./partialss/servicesComp') %>
    </main>

    <%- include('./partialss/footer %>