<div class="about-box">
    <div class="row">
        <div class="col-lg-4">
            <div class="about-img-box">
                <img src="../public/img/vivi" class="about-img">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="about-info">
                <div class="about-name">
                    <div class="amount-me"> Vida Majd</div>
                    detail oriented, logical, team worker, leader, problem solver.
                </div>

                <div class="about-btn">
                    <a class="btn btn-primary hero-about-btn" href="/projects" role="button"> Projects</a>
                    <a class="btn btn-success hero-about-btn" href="../public/assets/VIVIRESUME.pdf" role="button">
                        Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>