<footer>
    <nav id-="buttomnav" class="navbar navbar-dark text-center">
        <div id="copyright" class="container">
            <h6 class="display-6 navbar-text"> &copy; Copyright 2022 vivi</h6>
        </div>

    </nav>
</footer>