<!--Home-->
<% if(title=="Home" ){%>
    <div class="container text-center p-3">
        <h1 class="p-3"> Welcome to my portfolio </h1>
        <p class="p-4">I want to practice more to create better websites.</p>
        <a class="btn btn-dark" href="/about" role="button">more details</a>
    </div>
    <%} else {%>
        <%} %>
            <!--abt-->
            <% if(title=="About" ){%>
                <section class="about" id="about">{ %>}
                    <h1 class="section_title section_title_about"> computer science gal </h1>
                    <p class="section_subtitle section_subtitle_about">this is me</p>
                    <div>
                        <p>professional and initiative, critical thinker, organized and detail oriented.</p>
                        <p> kjfkasjfkdsf </p>
                        <p> <a href="http://some link here"></a> </p>
                    </div>
                    <img src="link here again" class="">
                </section>
                </div>
                <% } else {%>
                    <%} %>
                        <!--proj-->
                        <% if(title=="Projects" ){%>
                            <section class="projects" id="work">
                                <h2 class="section_title section_title--work">My projects</h2>
                                <p class="sectiob_subtitle sectiob_subtitle--work">Please review my work</p>
                                <div class="jobs">
                                    <div>
                                        <!--proj 1-->
                                        <a href="link to job" class="portfolio" target="_blank"></a>
                                        <img src="link to job" alt="">
                                        <h4 class="p-3"><strong>The Live Piano</strong></h4>
                                        <p class="p-3">I created this project to improve my css, html skills</p>
                                    </div>

                                    <div>
                                        <!--proj2-->
                                        <a href="link to job" class="portfolio" target="_blank"></a>
                                        <img src="link to job" alt="">
                                        <h4 class="p-3"><strong>hangman game</strong></h4>
                                        <p class="p-2">I created this project to improve skills</p>
                                    </div>

                                    <div>
                                        <a href="link to job" class="portfolio" target="_blank"></a>
                                        <img src="link to job" alt="">
                                        <h4 class="p-3"><strong>The Live Piano</strong></h4>
                                        <p class="p-3">I created this project to improve my css, html skills</p>
                                    </div>
                                </div>
                            </section>%} else {%><%} %>


                                <!--services-->
                                <% if(title=="Services" ){%>
                                    <section class="srvc" id="work">
                                        <h2 class="section_title section_title--work">My Services</h2>
                                        <p class="sectiob_subtitle sectiob_subtitle--work">Please review my work</p>
                                        <div class="portfolio">
                                            <div>
                                                <a href="#" class="portfolio"><img src="link to job" alt=""></a>
                                                <h4 class="p-3"><strong>JavaScript</strong></h4>
                                            </div>

                                            <div>
                                                <a href="#" class="portfolio"><img src="link to job" alt=""></a>
                                                <h4 class="p-3"><strong>Web design</strong></h4>
                                            </div>

                                            <div>
                                                <a href="#" class="portfolio"><img src="link to job" alt=""></a>
                                                <h4 class="p-3"><strong>SEO</strong></h4>
                                            </div>
                                    </section>%} else {%><%} %>
                                        <% if(title=="Services" ){%>
                                            <!--contact frm-->
                                            <div class="container tect-center p-2">
                                                <section class="mb-4">
                                                    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact
                                                        Form</h2>
                                                    <p class="text-center w-responsive mx-auto mb-5">Write your message
                                                        here please: </p>
                                                    <div class="row">
                                                        <div class="col-md-9 mb-md-0 mb-5">
                                                            <form id="contact-form" name="contact form"
                                                                action="mail.php" method="POST">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="md-form mb-0">
                                                                            <input type="text" id="name" name="name" ,
                                                                                class="form-control">
                                                                            <label for="name" class="">Enter your
                                                                                name</label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <div class="md-form mb-0">
                                                                            <input type="email" id="email" name="email"
                                                                                , class="form-control">
                                                                            <label for="email" class="">Enter your email
                                                                                address</label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <div class="md-form mb-0">
                                                                            <input type="number" id="number"
                                                                                name="number" , class="form-control">
                                                                            <label for="name" class="">Enter your
                                                                                name</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </section>


                                                }