<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="Scripts/app.js"></script>
</body>

</html>

<nav id="b_nav" class="navbar navbar-dark text-center">
    <div id="copyright" class="container">
        <h5 class="display-6 navbar-text">&copy; Copyright 2022</h5>

    </div>
</nav>