<div class="hero-box">
    <div class="hero-welcome">Welcome to my page</div>
    <div class="herp-title">This is Vida Majd</div>
    <div class="hero-mission"> I am an artist and Love everything that has to do with art</div>

    <a class="btn btn-primary hero-about-btn" href="/about" role="button"> About</a>
</div>