<div class="project-box">
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem">
                <img class="piano-img" src="../public/img/piano-img" alt="piano cap">
                <div class="piano-body">
                    <h5 class="piano-title">Piano</h5>
                    <p class="piano-text">made this online piano as practice</p>
                    <h6>hungergames</h6>
                    <p>Imaginary project</p>
                    <h6>another project</h6>
                    <p>no project attached here</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem">
                <img class="piano-img" src="../public/img/piano-img" alt="piano cap">
                <div class="piano-body">
                    <h5 class="piano-title">Piano</h5>
                    <p class="piano-text">made this online piano as practice</p>
                    <h6>hungergames</h6>
                    <p>Imaginary project</p>
                    <h6>another project</h6>
                    <p>no project attached here</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem">
                <img class="piano-img" src="../public/img/piano-img" alt="piano cap">
                <div class="piano-body">
                    <h5 class="piano-title">Piano</h5>
                    <p class="piano-text">made this online piano as practice</p>
                    <h6>hungergames</h6>
                    <p>Imaginary project</p>
                    <h6>another project</h6>
                    <p>no project attached here</p>
                </div>
            </div>
        </div>
    </div>
</div>